.con-payment {
    width: 88vw;
    margin-left: 6vw;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: center;
}
.con-payment header {
    display: flex;
    width: 100%;
    min-width: 675px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding-left: 20px;
    border-bottom: 2px solid #FF8303;
}
.con-payment header h2 {
    font-size: 24px;
    color: #FF8303;
    font-weight: 500;
    align-self: center;
    margin: 0;
}
.con-payment .con-pay {
    width: 100%;
    min-width: 675px;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.con-payment table {
    width: 100%;
}
.con-payment table thead tr {
    width: 100%;
}
.con-payment table.payment thead tr th:first-child {
    width: 55%;
    min-width: 300px;
    font-size: 18px;
    color: #FF8303;
    font-weight: 500;
    text-align: start;
    /* border: 1px solid blue; */
}
.con-payment table.payment thead tr th {
    width: 15%;
    min-width: 100px;
    font-size: 12px;
    color: #9D9D9D;
    font-weight: 300;
    text-align: center;
    /* border: 1px solid red; */
}
.con-payment table.payment tbody tr {
    width: 100%;
}
.con-payment table.payment tbody tr td {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #868686;
    height: 50px;
    /* border: 1px solid red; */
}
.con-payment table.payment tbody tr td:first-child {
    text-align: start;
    padding-left: 20px;
    /* border: 1px solid blue; */
}
.con-payment table.payment tbody tr td.total {
    font-weight: 500;
    color: #FF8303;
}
.con-payment table.payment tbody tr td img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.con-payment table.payment tbody tr td h4 {
    font-size: 14px;
    font-weight: normal;
    color: #868686;
}
.bb {
    border-bottom: 1px dashed #FF8303;
}
.aa {
    border-bottom: 1px solid #FF8303;
}
table.info {
    margin-top: 10px;
}
table.info thead tr th {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #868686 !important;
    height: 30px;
    width: 15% !important;
    /* border: 1px solid pink; */
}
table.info thead tr th.name {
    width: 8% !important;
    min-width: 80px;
    text-align: start;
}
table.info thead tr th.data {
    width: 62% !important;
    text-align: start;
    padding-left: 20px;
    border-left: 1px dashed #FF8303;
    border-right: 1px dashed #FF8303;
}
label.payment {
    font-size: 14px;
    color: #868686;
    width: 140px;
    align-self: center;
    margin: 0;
}
.con-pay .form-control {
    border-color: #FF8303;
    color: #FF8303 !important;
    height: 35px;
}
.con-pay button {
    background-color: #FF8303;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 80px;
}
.con-pay button:hover {
    background-color: #f17900;
}