.con-store {
    width: 88vw;
    margin-left: 6vw;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    /* background-color: chartreuse; */
}
.con-store nav {
    width: 100%;
    min-width: 1000px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-left: 5px solid #FF8303;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con-store .header-item h4 {
    margin: 0;
    color: #FF8303;
    font-size: 24px;
}
.con-store nav .header-item {
    display: flex;
}
.con-store nav .header-item h6 {
    margin: 0;
    margin-left: 60px;
    color: #9D9D9D;
    font-size: 16px;
    font-weight: 500;
}
.con-store nav .header-item h6:hover {
    color: #FF8303;
}
.con-store nav .header-item h6.active {
    color: #FF8303;
}
.con-store nav .header-item .Link:last-child {
    margin-right: 60px;
}
.con-sto {
    width: 100%;
    min-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.con-sto header {
    height: 40px;
    /* align-items: center; */
}
.con-sto header h4 {
    margin: 0;
    color: #9D9D9D;
    font-size: 20px;
    font-weight: 500;
}
.con-sto header button {
    height: 30px;
    width: auto;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #00AF91;
    border: none;
    border-radius: 4px;
}
.con-sto header button:hover {
    background-color: #009b81;
}
/* PRODUCT */
.con-sto-product {
    width: 100%;
    min-width: 1000px;
    height: auto;
}
.con-sto-product .product {
    width: 250px;
    height: 230px;
    margin: 25px;
    background-color: #FFFFFF;
    color: #FF8303;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease-in-out;
}
.con-sto-product .product:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.con-sto-product .product img {
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}
.con-sto-product .product .text {
    height: 40%;
}
.con-sto-product .product .text h5 {
    margin: 0;
    font-size: 14px;
}
.con-sto-product .product .text p {
    margin: 0;
    font-size: 10px;
    color: #9D9D9D;
}
.con-sto-product .product .text p span {
    color: #FF8303;
    font-weight: 500;
}
.con-sto-product .product .text h6 {
    margin: 0;
    font-size: 18px;
}
.con-sto-product .fa-trash {
    color: #DD1212;
    font-size: 20px;
}
.con-sto-product .fa-trash:hover {
    animation: 0.5s icons;
}
@keyframes icons {
    0% {transform: rotate(0deg);}
    35% {transform: rotate(30deg);}
    70% {transform: rotate(-30deg);}
    100% {transform: rotate(0deg);}
}
.modal h4 {
    font-size: 20px;
    font-weight: 500;
    color: #9D9D9D;
}
.modal label {
    color: #9D9D9D;
    font-size: 16px;
    width: 160px;
    margin-top: 6px;
}
.modal .form-control {
    color: #9D9D9D;
}
.modal .imageView {
    border: 1px solid #dddddd;
    width: 100px;
    height: 100px;
    margin-left: 115px;
    margin-bottom: 20px;
}
.modal button.cancle {
    border:  none;
    height: 30px;
    border-radius: 4px;
    background-color: #F1F1F1;
    color: #787878;
    font-size: 16px;
    font-weight: 500;
}
.modal button.cancle:hover {
    background-color: #e6e6e6;
}
.modal button.add {
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    height: 30px;
    border-radius: 4px;
    background-color: #00AF91;
}
.modal button.add:hover {
    background-color: #009b81;
}
.modal button.delete {
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    height: 30px;
    border-radius: 4px;
    background-color: #DD1212;
}
.modal button.delete:hover {
    background-color: #c91212;
}

/* EDIT PRODUCT */
.storeProductEdit label {
    width: 130px;
    margin-top: 6px;
    color: #787878;
}
.storeProductEdit img {
    width: 100px;
    height: 100px;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    margin-left: 115px;
}

/* INFORMATION */
.con-sto .left {
    width: 10%;
    min-width: 120px;
    display: flex;
    /* border: 1px solid blue; */
}
.con-sto .right {
    width: 90%;
    /* border: 1px solid red; */
}
.con-sto .right input.left {
    width: 20%;
}
.con-sto .right input.right {
    width: 50%;
}
.con-sto .right select.left {
    width: 20%;
}
.con-sto .right select.right {
    width: 50%;
}
.con-sto .right select.leftRight {
    width: 71.5%;
}
.con-sto .right .fa-trash{
    color: #DD1212;
    font-size: 18px;
    margin-top: 4px;
}
.con-sto .right .fa-trash:hover {
    animation: 0.5s icons;
}


.con-sto .info .edit {
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    height: 30px;
    border-radius: 4px;
    background-color: #FF8303;
}
.con-sto .info .edit:hover {
    background-color: #f77b00;
}
.con-sto button.save {
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    height: 30px;
    border-radius: 4px;
    background-color: #00AF91;
}
.con-sto button.save:hover {
    background-color: #009b81;
}
.con-sto button.back {
    color: #787878;
    font-size: 14px;
    font-weight: 500;
    border: none;
    height: 30px;
    border-radius: 4px;
    background-color: #F1F1F1;
    border: 1px solid #e0e0e0;
}
.con-sto button.back:hover {
    background-color: #e6e6e6;
}
.con-sto .info h4 {
    font-size: 20px;
    color: #9D9D9D;
    font-weight: 500;
}
.con-sto h5 {
    margin-top: 8px;
    font-size: 18px;
    color: #9D9D9D;
    font-weight: 400;
}
.con-sto input {
    color: #9D9D9D !important;
}
.con-sto select {
    color: #9D9D9D !important;
}
.con-sto textarea {
    color: #9D9D9D !important;
}

/* HISTORY PAGE */
.con-sto table.store-history {
    width: 100%;
    display: table;
}
.con-sto table.store-history th {
    width: 20%;
    height: 50px;
    color: #9D9D9D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-bottom: 2px solid #FF8303;
    /* border: 1px solid red; */
}
.con-sto table.store-history td {
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 500;
    text-align: center;
    height: 50px;
    border-bottom: 2px solid #E5E5E5;
    /* border: 1px solid blue; */
}

/* SELLING PAGE */
.con-sto table.selling {
    width: 100%;
    display: table;
}
.con-sto table.selling th {
    width: 18%;
    height: 50px;
    color: #9D9D9D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-bottom: 2px solid #FF8303;
    /* border: 1px solid red; */
}
.con-sto table.selling th:last-child {
    width: 10%;
}
.con-sto table.selling td {
    font-size: 14px;
    color: #FF8303;
    font-weight: 500;
    text-align: center;
    height: 50px;
    border-bottom: 2px solid #E5E5E5;
    /* border: 1px solid blue; */
}
.con-sto table.selling .Link {
    color: #FF8303;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #FF8303;
}
/* SELLING DETAIL PAGE */
.selling-detail .con-sto label {
    color: #787878;
    max-width: 150px;
    min-width: 150px;
    margin-top: 6px;
}
.selling-detail .con-sto img.payment-image {
    height: 150px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #9D9D9D;
}
.selling-detail .con-sto .con-product-list {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
}
.selling-detail .con-sto .con-product-list img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #d1d1d1;
}
.selling-detail .con-sto .con-product-list h5 {
    font-size: 16px;
    font-weight: 500;
}
.selling-detail .con-sto .con-product-list h5:first-child {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}