.navbar {
    width: 100vw;
    background-color: #FF8303;
    min-height: 80px;
}
.navbar-title {
    color: #ffffff !important;
    font-size: 28px;
    cursor: pointer;
}
.navbar .fa-shopping-cart {
    height: 20px;
    width: 21px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 20.6px;
    margin-top: auto; margin-bottom: auto;
    transition: 0.3s ease-in-out;
}
.navbar .fas:hover {
    height: 20.3px;
    width: 21.3px;
    margin-right: 20px;
}
.profile {
    height: 30px;
    width: 30px;
    margin-top: auto; margin-bottom: auto;
    background-color: #ffffff;
    color: #FF8303;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user {
    margin-left: 5px;
    margin-top: auto; margin-bottom: auto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}